<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
   <p><strong class="logo">MEONN</strong>  TECHNOLOGIES</p> 
   <p class="container" ><strong>Création de sites internet</strong>  

    Votre site web est un INVESTISSEMENT, avant qu’il soit une dépense.
    
    Accessible 24h/24 partout dans le monde, le site web devient l’incontournable support de communication et de promotion.
    En effet, quel que soit votre secteur d’activité, vos clients et vos cibles, le site web est un élément clé en termes d’image et développement de votre marque. En revanche, quand il ne reflète pas une image fidèle du dynamisme et expertise de votre entreprise, il peut véritablement nuire à votre réputation.
    
    Pour cause, notre mission est de vous créer un site internet sur-mesure à votre identité, différence et atouts. L’objectif ? Développer le portefeuille clients !</p>
</body>
</html>